/src/test/java
/target/classes
/target/generated-sources
/target/generated-test-sources
/target/maven-archiver
/target/maven-status
/target/surefire-reports
/target/test-classes
/target/project-1.0-SNAPSHOT.jar.original
/src/test/java/Test.java
/hello.txt

.idea
/target